body {
    padding: 0;
    /*background: url(landing-image.png);*/
    margin: 0;
    font-family: 'Cairo', sans-serif;
    font-family: 'Jomhuria', cursive;
    font-family: 'Open Sans', sans-serif;
    box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
    background-color: #2b2b2b;
}
.light{
    color: white;
    padding: 20px;
    font-size: larger;
    position: relative;
    bottom: 530px;
}
@keyframes up-and-down {
    from {
        transform: translateY(-10px);
    }
    to {
        transform: translateY(10px);
    }
}

img {
    position: absolute;
    width: 600px;
    right: 5%;
    max-width: 100%;
    top: 20%;
    animation: up-and-down .9s linear infinite;
    animation-direction: alternate;
}

::placeholder {
    color: #ffffff;
}

form {
    position: absolute;
    left: 20%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    height: 620px;
    background: rgba(0, 0, 0, .5);
    border-radius: 20px;
    box-sizing: border-box;
}

h2 {
    text-align: center;
    color: #ffffff;
    font-weight: 700;
    line-height: 2em;
    font-size: 1.25rem;
}

input[placeholder="First Name"] {
    position: absolute;
    border: none;
    outline: none;
    width: 250px;
    height: 20px;
    border-bottom: 2px solid #ffffff;
    background: none;
    padding: 5px;
    color: #ffffff;
    top: 17%;
    left: 50px;
}

input[placeholder="Second Name"] {
    position: absolute;
    border: none;
    outline: none;
    width: 250px;
    height: 20px;
    border-bottom: 2px solid #ffffff;
    background: none;
    padding: 5px;
    color: #ffffff;
    top: 24%;
    left: 50px;
}

input[placeholder="User Name"] {
    position: absolute;
    border: none;
    outline: none;
    width: 250px;
    height: 20px;
    border-bottom: 2px solid #ffffff;
    background: none;
    padding: 5px;
    color: #ffffff;
    top: 31%;
    left: 50px;
}

input[placeholder="Email"] {
    position: absolute;
    border: none;
    outline: none;
    width: 250px;
    height: 20px;
    border-bottom: 2px solid #ffffff;
    background: none;
    padding: 5px;
    color: #ffffff;
    top: 38%;
    left: 50px;
}

input[placeholder="Phone Number"] {
    position: absolute;
    border: none;
    outline: none;
    width: 250px;
    height: 20px;
    border-bottom: 2px solid #ffffff;
    background: none;
    padding: 5px;
    color: #ffffff;
    top: 45%;
    left: 50px;
}

input[placeholder="Father's Number"] {
    position: absolute;
    border: none;
    outline: none;
    width: 250px;
    height: 20px;
    border-bottom: 2px solid #ffffff;
    background: none;
    padding: 5px;
    color: #ffffff;
    top: 52%;
    left: 50px;
}

input[placeholder="Password"] {
    position: absolute;
    border: none;
    outline: none;
    width: 250px;
    height: 20px;
    border-bottom: 2px solid #ffffff;
    background: none;
    padding: 5px;
    color: #ffffff;
    top: 59%;
    left: 50px;
}

input[placeholder="Confirm Password"] {
    position: absolute;
    border: none;
    outline: none;
    width: 250px;
    height: 20px;
    border-bottom: 2px solid #ffffff;
    background: none;
    padding: 5px;
    color: #ffffff;
    top: 66%;
    left: 50px;
}

div {
    top: 73%;
    left: 50px;
    position: absolute;
    color: #ffffff;
}

input[value="Create Account"] {
    position: absolute;
    border: none;
    outline: none;
    top: 80%;
    left: 45px;
    width: 270px;
    height: 35px;
    border-radius: 20px;
    color: #ffffff;
    background: #0077ff;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
}

input[value="Create Account"]:hover {
    background: #ffffff;
    color: #0077ff;
}

.aa {
    color: #ffffff;
    width: 100%;
    top: 87%;
    position: absolute;
    left: 50px;
}

label a:link {
    text-decoration: none;
    color: #ffffff;
}

label a:visited {
    text-decoration: none;
    color: #ffffff;
}

label a:active {
    text-decoration: none;
    color: #ffffff;
}

label a:hover {
    text-decoration-line: underline;
    text-decoration-color: #ffffff;
    cursor: pointer;
}

.face {
    position: absolute;
    bottom: 10px;
    left: 46%;
    width: 30px;
    height: 30px;
    border: 0;
    margin: 0;
    box-sizing: border-box;
    color: #ffffff;
}

.twitter {
    position: absolute;
    bottom: 10px;
    left: 50%;
    width: 30px;
    height: 30px;
    border: 0;
    margin: 0;
    box-sizing: border-box;
    color: #ffffff;
    font-size: 20px;
}

.insta {
    position: absolute;
    bottom: 10px;
    left: 54%;
    width: 30px;
    height: 30px;
    border: 0;
    margin: 0;
    box-sizing: border-box;
    color: #ffffff;
}

.face:hover {
    transform: translate(5%, 5%);
}

.twitter:hover {
    transform: translate(5%, 5%);
}

.insta:hover {
    transform: translate(5%, 5%);
}