body {
    padding: 0;
    /*background: url(landing-image.png);*/
    margin: 0;
    font-family: 'Cairo', sans-serif;
    font-family: 'Jomhuria', cursive;
    font-family: 'Open Sans', sans-serif;
    box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
    background-color: white;
    overflow-x: hidden;
}

@keyframes up-and-down {
    from {
        transform: translateY(-10px);
    }
    to {
        transform: translateY(10px);
    }
}

img {
    position: absolute;
    width: 600px;
    right: 5%;
    max-width: 100%;
    top: 20%;
    animation: up-and-down .9s linear infinite;
    animation-direction: alternate;
}

form {
    position: absolute;
    left: 20%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    height: 380px;
    background:#e9e5e5;
    border-radius: 20px;
    box-sizing: border-box;
}

h2 {
    text-align: center;
    color: #2b2a2a;
    font-weight: 700;
    line-height: 2em;
    font-size: 1.25rem;
}

input[type="email"],
[type="password"] {
    position: absolute;
    top: 105px;
    left: 47px;
    border: none;
    outline: none;
    width: 250px;
    height: 35px;
    border-bottom: 2px solid #2b2a2a;
    background: none;
    padding: 5px;
    color: #2b2a2a;
}

input[type="text"] {
    top: 100px;
    left: 50px;
}

[type="password"] {
    top: 170px;
    left: 50px;
}

input[value="Login"] {
    position: absolute;
    border: none;
    outline: none;
    top: 270px;
    left: 110px;
    width: 130px;
    height: 35px;
    border-radius: 20px;
    color: white;
    background: #0077ff;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
}
.light{
    color: #2b2a2a;
    padding: 20px;
    font-size: larger;
    position: relative;
    bottom: 600px;
}

input[value="Login"]:hover {
    background: #2b2a2a;
    color: white;
}

p {
    position: absolute;
    top: 220px;
    left: 50px;
    cursor: pointer;
    color: #2b2a2a;
}

p:hover {
    text-decoration-line: underline;
    text-decoration-color: #2b2a2a;
}

div {
    color: #2b2a2a;
    width: 100%;
    top: 330px;
    position: absolute;
    left: 50px;
}

a:link {
    text-decoration: none;
    color: #2b2a2a;
}

a:visited {
    text-decoration: none;
    color: #2b2a2a;
}

a:active {
    text-decoration: none;
    color: #2b2a2a;
}

label a:hover {
    text-decoration-line: underline;
    text-decoration-color: #2b2a2a;
    cursor: pointer;
}

::placeholder {
    color: #2b2a2a;
}

.face {
    position: absolute;
    bottom: 10px;
    left: 46%;
    width: 30px;
    height: 30px;
    border: 0;
    margin: 0;
    box-sizing: border-box;
    color: #2b2a2a;
}

.twitter {
    position: absolute;
    bottom: 10px;
    left: 50%;
    width: 30px;
    height: 30px;
    border: 0;
    margin: 0;
    box-sizing: border-box;
    color: #2b2a2a;
    font-size: 20px;
}

.insta {
    position: absolute;
    bottom: 10px;
    left: 54%;
    width: 30px;
    height: 30px;
    border: 0;
    margin: 0;
    box-sizing: border-box;
    color: #2b2a2a;
}

.face:hover {
    transform: translate(5%, 5%);
}

.twitter:hover {
    transform: translate(5%, 5%);
}

.insta:hover {
    transform: translate(5%, 5%);
}