body{
    background-color:white;
}
.home,.courses,.profile,.logout,.about{
   text-decoration: none;
   font-family:system-ui;
   font-size: x-large;
   color: #2b2a2a;
  margin: 20px;
  letter-spacing: 3px;
  font-weight:400;
  text-transform: uppercase;
  transition: .8s;
  font-size:20px;

}
.light{
    color: #2b2a2a;
    padding: 20px;
    font-size: larger;
}
.home,.courses,.profile,.about{
    position: relative;
    left:80px;
}
/*.about{
    position: relative;
    top: -45px;
}*/

.home:hover{
    border: 0px solid #2b2a2a ;
    border-radius: 20px;
    background-color: #2b2a2a;
    padding: 5px;
    box-shadow: 8px 4px 8px 1px #0000009e;
    color: white;
}
.courses:hover{
    border: 0px solid #2b2a2a ;
    border-radius: 20px;
    background-color: #2b2a2a;
    padding: 5px;
    box-shadow: 8px 4px 8px 1px #0000009e;
    color:white;
}
.profile:hover{
    border: 0px solid #2b2a2a ;
    border-radius: 20px;
    background-color: #2b2a2a;
    padding: 5px;
    box-shadow: 8px 4px 8px 1px #0000009e;
    color: white;
}
.about:hover{
    border: 0px solid #2b2a2a ;
    border-radius: 20px;
    background-color: #2b2a2a;
    padding: 5px;
    box-shadow: 8px 4px 8px 1px #0000009e;
    color: white;
}
.logout{
    position: relative;
    left: 805px;
}
.logout:hover{
    border: 0px solid #2b2a2a ;
    border-radius: 20px;
    background-color: #2b2a2a;
    padding: 5px;
    text-decoration: white underline;
    box-shadow: 8px 4px 8px 1px #0000009e;
    color: white;
}
.allsubjects,.be{
    background-color: #2b2a2a;
    word-spacing: 5px;
   /* display: inline-block;*/
    width: 1300px;
    border-radius: 15px;
    padding: 15px;
    margin: 35px;
    font-family: system-ui;
    box-shadow: 8px 4px 8px 1px #0000009e;
    color: white;
}

div.about2{
    background: #2b2a2a;
    width: 176px;
    border-radius: 15px;
    font-size: 1.2rem;
    text-align: center;
    padding: 5px;
    margin: 20px;
    font-family: system-ui;
    text-transform: capitalize;
    cursor: not-allowed;
    box-shadow: 8px 4px 8px 1px #0000009e;
    color: white;
}
.m,.ph,.e-l,.e{
    font-weight: 900;
    text-transform: capitalize;
    letter-spacing: 2px;
    font-family: system-ui;
}
.hello,.welcome{
    color: #2b2a2a;
    font-family: system-ui;
    text-transform: capitalize;
    font-size: 50px;
    transform: translate(27px, 250px);
    pointer-events:none;
}
.welcome{
    transform: translate(-99px, 306px);
    font-weight: 700;
}